{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Our whalesome bags</h1>
    
    <div class="wrapper">
        {% for product in products %}
        <div class="col-sm">
        <p>{{ product.name }}</p>
        <p>${{ product.price }}</p>
        <a class="btn btn-primary"  href="{{ path('product_detail', {'id': product.id}) }}">Detail</a>
        </div>
        {% endfor %}
      
    </div>
    <hr>

    <a class="btn btn-secondary"  href="{{ path('homepage_index') }}">back to homepage</a>


{% endblock %}
