{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update', 'button_class': 'btn-success' }) }}

    <br>
    <hr>
    <table>
        <tr>
            <td>{{ include('product/_delete_form.html.twig') }}</td>    
            <td>&emsp;</td>
            <td><a class="btn btn-secondary"  href="{{ path('product_index') }}">back to list</a></td>
        </tr>
    </table>

{% endblock %}
